<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div v-for="item in chatUsers" :key="item.id" @click="chatWith(item.id)">
                    {{item.name}}
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header"><h5>Simple Public Chat <small>({{users - 1}} users online)</small></h5></div>

                    <div class="form-group">
                        <textarea rows="12" readonly="" class="form-control">{{dataMessages.join('\n')}}</textarea>

                        <div class="p-2 message_block">
                        <input :disabled="!receiver_id" type="text" v-model="message" placeholder="Your message" required class="chat-input">
                        <button :disabled="!receiver_id" @click="sendMessage" class="btn btn-primary">Send</button>
                        </div>
                        <div class="text-danger ml-1" v-if="!receiver_id">select receiver</div>
                    </div>
                </div>
                <div>{{ error }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                dataMessages: [],
                chatUsers: [],
                message: "",
                receiver_id: null,
                users: "",
                error: ""
            }
        },
        mounted() {
            var socket = io.connect('http://localhost:3000');
            socket.on('userCount', function (data) {
                this.users = data.userCount;
            }.bind(this));
            socket.on("news-action:App\\Events\\TestEvent", function(data){
                this.dataMessages.push(data.nickname + ' : ' + data.message);
            }.bind(this));

            // this.chatWith()
            this.getUsers()
        },
        methods: {
            sendMessage: function() {
                if (this.message === "" || this.nickname === "") {
                    this.error = 'Type-in your nickname and message then click \'Send\'';
                } else {
                    axios({
                        method: 'post',
                        url: '/chat/send-message',
                        params: {
                            message: this.message,
                            receiver_id: this.receiver_id,
                            channel: 'news-action',
                        }
                    })
                    .then((response) => {
                        this.message = "";
                    });
                }
            },
            chatWith: function (id) {
                this.receiver_id = id;
                axios({
                    method: 'get',
                    url: `/chat-with/${id}`,
                })
                .then((response) => {
                    this.dataMessages = [];
                    response.data.map((data, value) => {
                        this.dataMessages.push(data.sender.name + ' : ' + data.message)
                    })
                });
            },
            getUsers: function () {
                axios({
                    method: 'get',
                    url: '/users',
                })
                .then((response) => {
                    console.log(response.data);
                    this.chatUsers = response.data
                });
            }
        }
    }
</script>
